<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Api Results'}) %>
	<body>
		<div class="container-fluid background-wrapper">
			<!-- header -->
			<%- include('partials/headerNavbar') %>
			<!-- /header -->
			<div id="user-card" class="card">
				<div class="card-body">
					<p>
						<p>Id Suscripcion: <span><%= suscription.id %></span></p>
						<p>Servicio: <span><%= suscription.reason %></span></p>
						<p>Payer id: <span><%= suscription.payer_id %></span></p>
						<p>Payer Email: <span><%= suscription.payer_email %></span></p>
						<p>Estado: <span><%= suscription.status %></span></p>
					</p>
				</div>
			</div>
		</div>
		<!-- footer -->
		<%- include('partials/footer') %>
		<!-- /footer -->
  </body>
</html>
