<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Login'}) %>
<body>
    <div class="container-fluid background-wrapper">
        <!-- header -->
        <%- include('partials/headerNavbar') %>
        <!-- /header -->
        <div class="row">
            <div class="container search-group col-lg-6 col-md-8">
                <h2 class="tittle-wrapper">Ingresar al Sitio</h2>
                <div class="container form-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <form id="loginForm" action="/users/login" method="POST">
                                <div class="row leyes-detail">
                                    <div class="form-group col-12">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="text" id="email" name="email" class="form-control">
                                        <% if (locals.errors && errors.email) { %>
                                            <small class="text-danger"><%= errors.email.msg %></small>
                                        <% } %>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="password" class="form-label">Contraseña:</label>
                                        <input type="password" id="password" name="password" class="form-control">
                                        <% if (locals.errors && errors.password) { %>
                                            <small class="text-danger"><%= errors.password.msg %></small>
                                        <% } %>
                                    </div>
                                    <div class="form-group col-12 signup_link">
                                        <span>No posee una cuenta?</span> <a href="/users/register" class="black-link">Crear una cuenta</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <button type="submit" form="loginForm" class="btn btn-info btn-sm">Continuar</button>
                    <button type="reset" form="loginForm" class="btn btn-info btn-sm">Limpiar</button>
                    <!-- Boton para Volver -->
                    <button type="button" class="btn btn-info btn-sm" onclick="history.back()">Volver</button>
                    <!-- Sign-in de Google -->
                    <div class="g-signin2 btn btn-info btn-sm" data-onsuccess="onSignIn"></div>
                    <a class="btn btn-info btn-sm" href="#" onclick="signOut();">Sign out</a>
                </div>
            </div>
        </div>        
    </div>
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
    <!-- scripts de inicio/cerrado de sesion con google -->
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
      </script>
</body>
</html>