<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Login'}) %>
<body>
    <!-- header -->
    <%- include('partials/headerNavbar') %>
    <!-- /header -->

    <div class="container form-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="form-title">Ingresar al Sitio</h2>
            </div>
        </div>
        <div class="col-12">
            <form action="/users/login" method="POST">
                <div class="row leyes-detail">
                    <div class="form-group col-12 col-md-6">
                        <label for="email" class="form-label">Email:</label>
						<input type="text" id="email" name="email" class="form-control">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <label for="password" class="form-label">Contraseña:</label>
						<input type="password" id="password" name="password" class="form-control">
                        <% if (locals.errors && errors.password) { %>
                            <small class="text-danger"><%= errors.password.msg %></small>
                        <% } %>
                    </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-info btn-sm">Continuar</button>
                        <button type="reset" class="btn btn-info btn-sm">Limpiar</button>
                    </div>
<!--                     <div class="form-group col-12">
                        <label for="password" class="form-label">Recordarme</label>
                        <input type="checkbox" id="remember" name="remember" class="">
                    </div> -->
                    <div class="form-group signup_link">
                        <span>No posee una cuenta?</span> <a href="/users/register">Crear una cuenta</a>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
</html>