<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head', {title: 'Editar'}) %>
<body>
    <div class="container-fluid background-wrapper">
        <!-- header -->
        <%- include('../partials/headerNavbar') %>
        <!-- /header -->
        <div class="row">
            <div class="container detail-group col-lg-6 col-md-8">
                <h2 class="tittle-wrapper">Formulario de Anexos de Leyes</h2>
                <div class="container form-wrapper">
                    <div class="row">
                        <div class="col-12 light-background">
                            <p>Tipo: <%= attachLey.entityTypes.name %></p>
                            <p>Número: <%= attachLey.number %></p>
                            <p>Año: <%= attachLey.year %></p>
                            <p>Estado: <%= attachLey.status %></p>
                            <form id="attachmentForm" action="/leyes/attachments/<%= attachLey.id %>" method="POST" enctype="multipart/form-data">
                                <div class="row leyes-detail">
                                    <div class="form-group col-12">
                                        <label for="attachment" class="form-label">Adjuntar Anexo</label>
                                        <input type="file" class="form-control" name="attachment">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" form="attachmentForm" class="btn btn-info btn-sm edit-button">Guardar</button>
                    <button type="button" form="attachmentForm" class="btn btn-info btn-sm edit-button" onclick="history.back()">Cancelar</button>
                </div>
            </div>
        </div>        
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- /footer -->
</body>
</html>